circle {
    fill: none;
    stroke-width: .2px;
    stroke: black
}

path {
    fill: none;
    stroke-width: .4px;
    stroke: black
}

#brick2 {
    /* width: 500px; */
    padding: 10px;
}